body {
background-color: white;
font-family: 'Be Vietnam Pro', sans-serif;
color: #c90008;
border: 2px;
padding: 50px;
}

nav {
    text-align: center;
}

h1 {
    font-size: 40px;
    text-align: center;
}

p {
    color: black;
    font-weight: 375;
}

li {
    color: black;
    font-weight: 375;
}

a {
    color: #c90008;
    padding: 20px;
}

a:hover {
    color: black;
    cursor: pointer;
}

.welcome {
    text-align: center;
}

#crepe_img {
width: 520px;
height: 300px;
border: 2px;
border-color: #c90008;
border-style: solid;
display: block;
margin-left: auto;
margin-right: auto;
padding: 10px;
}

form {
    display: block;
    margin-top: 0em;
    align-items: center;
}

input {
    margin: 10px;
    padding: 10px;
}

#recipe-desc {
    width: 500px;
}

#recipe-button {
    cursor: pointer;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #c90008;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 9px;
    margin-top: 15px;
}

#form-desc {
    text-align: center;
}